#monster-t,
#monster-b {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2000000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#monster-t {
  top: -100px;
}
#monster-b {
  bottom: -100px;
}
.squish-canvas {
  width: 100%;
  position: fixed;
}
.word-art {
  position: fixed;
  z-index: 200000000;
  font-size: 72px;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans-Serif;
}
.crack-overlay {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 200000001;
  top: 0;
  left: 50;
}
.left-hand,
.right-hand {
  position: fixed;
  height: 100%;
  z-index: 2000000000;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.left-hand {
  left: -100px;
}
.right-hand {
  right: -100px;
}
