monsterHeight = 100px
cornerWidth = 100px
clapsWidth = 100px

#monster-t, #monster-b
    position fixed
    width 100%
    height monsterHeight
    z-index 2000000000
    background-size 100% 100%
    background-repeat no-repeat

#monster-t
    top -1 * monsterHeight

#monster-b
    bottom -1 * monsterHeight
    
.squish-canvas
    width 100%
    position fixed

.word-art
    position fixed
    z-index 200000000
    font-size 72px
    font-weight bold
    font-family Helvetica, Arial, Sans-Serif

/////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////// BEGIN CLAP /////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////

.left-hand, .right-hand
    position fixed
    height 100%
    z-index 2000000000
    width clapsWidth
    background-repeat no-repeat
    background-position center

.left-hand
    left -100px
    
.right-hand
    right -100px
